<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" #ttitle placeholder="Titulo de la foto" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" cols="30" rows="2" #description placeholder="Descripcion de la foto" required>
                </div>
                <input type="file" class="d-none" #photoInput>
                <img src="../../../assets/no-image.png" alt="No imagen" class="img-fluid">
                <div class="d-grid gap-2">
                    <button class="btn btn-primary btn-block mt-4">
                        Guardar IMagen
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>